@page "{id:int}"
@model Daedalic.ProductDatabase.Pages.Releases.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Release</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Release.Id" />
            <div class="form-group">
                <label asp-for="Release.GameId" class="control-label"></label>
                <p>@Model.Release.Game.Name</p>
                <input type="hidden" asp-for="Release.GameId" />
            </div>
            <div class="form-group">
                <label asp-for="Release.Summary" class="control-label"></label>
                <input asp-for="Release.Summary" class="form-control" />
                <span asp-validation-for="Release.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.GmcDate" class="control-label"></label>
                <input asp-for="Release.GmcDate" class="form-control" />
                <span asp-validation-for="Release.GmcDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.ReleaseDate" class="control-label"></label>
                <input asp-for="Release.ReleaseDate" class="form-control" />
                <span asp-validation-for="Release.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Version" class="control-label"></label>
                <input asp-for="Release.Version" class="form-control" />
                <span asp-validation-for="Release.Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.ReleaseStatusId" class="control-label"></label>
                <select asp-for="Release.ReleaseStatusId" class="form-control" asp-items="ViewBag.ReleaseStatusId"></select>
                <span asp-validation-for="Release.ReleaseStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.PublisherId" class="control-label"></label>
                <select asp-for="Release.PublisherId" class="form-control" asp-items="ViewBag.PublisherId">
                    <option></option>
                </select>
                <span asp-validation-for="Release.PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.PlatformId" class="control-label"></label>
                <select asp-for="Release.PlatformId" class="form-control" asp-items="ViewBag.PlatformId">
                    <option></option>
                </select>
                <span asp-validation-for="Release.PlatformId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.StoreId" class="control-label"></label>
                <select asp-for="Release.StoreId" class="form-control" asp-items="ViewBag.StoreId">
                    <option></option>
                </select>
                <span asp-validation-for="Release.StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Languages" class="control-label"></label>
                <div class="table">
                    <table>
                        @{
                            foreach (var language in Model.Language.OrderBy(l => l.Name))
                            {
                                <tr>
                                    <th>
                                        <input type="checkbox"
                                               name="selectedLanguages"
                                               value="@language.Id"
                                               @(Html.Raw(Model.Release.Languages.Any(l => l.LanguageId == language.Id) ? "checked=\"checked\"" : "")) />

                                        @language.Name
                                    </th>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
