@page
@model Daedalic.ProductDatabase.Pages.Insights.IndexModel
@{
    ViewData["Title"] = "Insights";
}

<h1>Insights</h1>

<div>
    <ul>
        <li>
            <a asp-area="" asp-page="/Insights/UnreleasedLanguages">Unreleased Languages</a>
        </li>
    </ul>
</div>
