@page
@model Daedalic.ProductDatabase.Pages.Insights.UnreleasedLanguagesModel
@{
    ViewData["Title"] = "Unreleased Languages";
}

<h1>Unreleased Languages</h1>

<p>Shows all languages that are released on at least one platform, but not on all of them.</p>

<div>
    <ul>
        @foreach (var insight in Model.Insights)
        {
            <li><a asp-page="/Games/Details" asp-route-id="@insight.Item.Id">@insight.Text</a></li>
        }
    </ul>
</div>
