@page
@model Daedalic.ProductDatabase.Pages.Insights.UnreleasedLanguagesModel
@{
    ViewData["Title"] = "Unreleased Languages";
}

<h1>Unreleased Languages</h1>

<p>Shows all languages that are associated with a game, but not with any release for that game.</p>

<div>
    <ul>
        @foreach (var unreleasedLanguage in Model.UnreleasedLanguages)
        {
            <li>@unreleasedLanguage.Game.Name - @unreleasedLanguage.Language.Name</li>
        }
    </ul>
</div>
