@page
@model Daedalic.ProductDatabase.Configuration.IndexModel

@{
    ViewData["Title"] = "Configuration";
}

<h1>Configuration</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Configuration.DefaultReleaseStatus" class="control-label"></label>
                <select asp-for="Configuration.DefaultReleaseStatus" class="form-control" asp-items="ViewBag.ReleaseStatusId"></select>
                <span asp-validation-for="Configuration.DefaultReleaseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
