@page "{id:int}"
@model Daedalic.ProductDatabase.Pages.LanguageTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Language Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageType.Name)
        </dd>
    </dl>

    @if (Model.LanguageType.SupportedLanguages != null && Model.LanguageType.SupportedLanguages.Count > 0)
    {
        <div class="alert alert-warning" role="alert">
            This language type has @Model.LanguageType.SupportedLanguages.Select(sl => sl.Game).Distinct().Count() games associated with it. Deleting the type will remove it from all of these games.
        </div>
    }

    <form method="post">
        <input type="hidden" asp-for="LanguageType.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
